header {
    background-color: #312f31;
    position: absolute;
    top: 0;
    height: 80px;
    width: 100%;
    text-align: center;
}
header > h1 {
    color: #FFF;
}

main {
    min-height: 200px;
    margin: 100px auto;
    width: 55%;
    border-radius: 3px;
    padding: 10px;
}

footer {
    background-color: #312f31;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
}